body, html {
    font-optical-sizing: auto;
}

.mynamemp {
    background-color: #041f1e;
    text-align: center; 
    font-size: 21px;
    font-family: "EB Garamond", serif;
    font-weight: 200;
    font-style: normal;
    color: azure;
}
.titlesmp {
    text-align: center;
    list-style-type: none;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: azure;
}
img {
    width: 100%;
}
.license {
    background-color: #041f1e;
    padding: 20px;
    color: azure;
    font-size: 16px;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    color: azure;
}

.titleny {
    border: 100px;
    border-color: #041f1e;
    background-color: #041f1e;
    text-align: center; 
    font-size: 21px;
    font-family: "Playfair Display", Times;
    font-weight: 400;
    font-style: normal;
    color: azure;
    padding: 50px;
}

.titlem {
    border: 100px;
    border-color: #041f1e;
    display: block;
    position: relative;
    background-color: #041f1e;
    text-align: center;
    font-size: 21px;
    font-family: "Playfair Display", Times;
    font-weight: 400;
    font-style: normal;
    color: azure;
    padding: 40px;
}

.writeuptitle {
    font-family: "Playfair Display", Times;
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
}

.marketessay {
    text-align: center;
    color: #041f1e;
    background-color: white;
    font-family: "Architects Daughter", cursive;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    padding: 100px 250px 100px 250px;
}

.row1 {
    display: flex;
}

.row1 img {
    width: 100%;
}

.row2 {
    display: flex;
}

.row2 img {
    width: 100%;
}

.row3 {
    display: flex;
}

.row3 img {
    width: 100%;
}

.row4 {
    display: flex;
}

.row4 img {
    width: 100%;
}

.row5 {
    display: flex;
}

.row5 img {
    width: 100%;
}

.row6 {
    display: flex;
}

.row6 img {
    width: 100%;
}

.row7 {
    display: flex;
}

.row7 img {
    width: 100%;
}

.col-4 {
    padding: 10px;
}

.col-8 {
    padding: 10px;
}
